<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysy.oath.mapper.user.MenuMapper">

    <resultMap id="BaseResultMap" type="com.ysy.oath.entity.user.Menu" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="describes" property="describes" jdbcType="VARCHAR" />
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
        <result column="menu_index" property="menuIndex" jdbcType="INTEGER" />
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <collection property="children"  ofType="NewsLabel"  select="selectChildByParentId" column="id"/>
    </resultMap>
    <select id="selectChildByParentId" resultMap="BaseResultMap">
      select id,`name`,describes,menu_url,menu_icon,parent_id from t_menu where parent_id=#{parentId} and is_delete = 0
    </select>
    <select id="selectSelfAndChildByParentId" resultMap="BaseResultMap">
        select id,`name`,describes,menu_url,menu_icon,parent_id from t_menu
        <where>
            <if test="id != null">
                and id=#{id}
            </if>
            and is_delete = 0
        </where>
    </select>

</mapper>
