<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysy.oath.mapper.user.RoleMapper">
    <resultMap id="BaseResultMap" type="com.ysy.oath.entity.user.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="role_index" property="roleIndex" jdbcType="INTEGER"/>
        <result column="security_roles" property="securityRoles" jdbcType="VARCHAR"/>
        <collection property="menus" ofType="NewsLabel" select="selectSelfAndChildByParentId" column="id"/>
    </resultMap>
    <select id="findByMenus" resultMap="BaseResultMap">
      select * from t_role where id =#{id}  and  is_delete = 0
    </select>
    
    <select id="selectSelfAndChildByParentId" resultMap="MenuBaseResultMap" >
        SELECT
          m.*
        FROM
          `t_menu` m
          LEFT JOIN `m_role_power` rm
            ON m.`id` = rm.`power_id`
        WHERE rm.`role_id` = #{id}
    </select>

    <resultMap id="MenuBaseResultMap" type="com.ysy.oath.entity.user.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <result column="menu_index" property="menuIndex" jdbcType="INTEGER"/>
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <collection property="children" ofType="NewsLabel" select="selectChildByParentId" column="id"/>
    </resultMap>
    <select id="selectChildByParentId" resultMap="MenuBaseResultMap">
      select id,`name`,parent_id from t_menu where parent_id=#{parentId} and is_delete = 0
    </select>



</mapper>
