<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysy.oath.mapper.user.UserInfoMapper">

    <!-- 根据主键查询用户及角色、权限列表 start-->
    <resultMap id="BaseResultMap" type="com.ysy.oath.entity.user.UserInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="department_id" property="departmentId" jdbcType="INTEGER"/>
        <result column="head_url" property="headUrl" jdbcType="VARCHAR"/>
        <result column="landing_time" property="landingTime" jdbcType="TIMESTAMP"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="user_info_index" property="userInfoIndex" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <collection property="roles" ofType="NewsLabel" select="findByMenus" column="id"/>
    </resultMap>
    <select id="selectByUserInfoAndRolesAndMenus" resultMap="BaseResultMap">
        SELECT
          *
        FROM
          `t_user_info`
        WHERE id = #{id}
          AND is_delete = 0

    </select>

    <select id="findByMenus" resultMap="BaseResultMapFindByMenus">
      select
          *
       from t_role where id =#{id}  and  is_delete = 0
    </select>

    <resultMap id="BaseResultMapFindByMenus" type="com.ysy.oath.entity.user.Role">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="role_index" property="roleIndex" jdbcType="INTEGER"/>
        <result column="security_roles" property="securityRoles" jdbcType="VARCHAR"/>
        <collection property="menus" ofType="NewsLabel" select="selectSelfAndChildByParentId" column="id"/>
    </resultMap>

    <select id="selectSelfAndChildByParentId" resultMap="MenuBaseResultMap">
        SELECT
          m.*
        FROM
          `t_menu` m
          LEFT JOIN `m_role_menu` rm
            ON m.`id` = rm.`menu_id`
        WHERE rm.`role_id` = #{id} and m.is_delete = 0 and rm.is_delete = 0
    </select>
    <resultMap id="MenuBaseResultMap" type="com.ysy.oath.entity.user.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
        <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR"/>
        <result column="menu_index" property="menuIndex" jdbcType="INTEGER"/>
        <result column="menu_url" property="menuUrl" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <collection property="children" ofType="NewsLabel" select="selectChildByParentId" column="id"/>
    </resultMap>
    <select id="selectChildByParentId" resultMap="MenuBaseResultMap">
      select id,`name`,parent_id from t_menu where parent_id=#{parentId} and is_delete = 0
    </select>
    <!-- 根据主键查询用户及角色、权限列表 end -->


</mapper>
